<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Reset your password" />
    <title>AfriSplash - Reset your password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/stylesheets/email-templates.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="email_template">
        <div>
          <div class="upper_design">
            <img
              src="/public/images/top-design-1.png"
              class="top_design"
              alt=""
            />
          </div>
          <div class="logo_container">
            <img src="/public/images/logo-2.png" class="logo" alt="" />
          </div>
        </div>
        <h1>Reset your password</h1>
        <div class="template_container">
          <div class="text_container reset_password">
            <p class="greetings">
              We received a request to reset the password for your account.
              Please use the button below to reset your password
            </p>
          </div>
          <div>
            <button type="button" class="cta_btn reset_password">
              Reset password
            </button>
          </div>
          <div class="text_container reset_password">
            <p>
              You can safely ignore this message if you didn’t request a
              password reset
            </p>
          </div>
        </div>
        <div class="footer">
          <div class="footer_details">
            <div>
              <p>71-75, Shelton Street, London, Greater London.</p>
              <p>&copy; 2021 AfriSplash Remotely LTD. All rights reserved.</p>
            </div>
            <div class="footer_links">
              <ul>
                <li><a href="https://afrisplash.com/blog">Our Blog</a></li>
                <li>
                  <image
                    class="ellipse"
                    src="/public/images/ellipse.svg"
                    alt=""
                  />
                </li>
                <li><a href="">Unsubscribe</a></li>
                <li>
                  <image
                    class="ellipse"
                    src="/public/images/ellipse.svg"
                    alt=""
                  />
                </li>
                <li><a href="">Policies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
