NODE_ENV=development
PORT=5000

#AWS Document DB cluster with one replica instance
tlsCAFile=./global-bundle.pem #required by the URI to connect and its part of connection string below
MONGO_URI=mongodb://afrisplashtestdb:Teamafrisplash2021$@docdb-2024-02-17-05-47-35.cluster-cneq6sq42jlm.eu-west-2.docdb.amazonaws.com:27017/?tls=true&tlsCAFile=global-bundle.pem&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false


MONGO_URI=mongodb://localhost:27018/afrisplash
# MONGO_URI =
JWT_SECRET= 

JWT_EXPIRE=
JWT_COOKIE_EXPIRE=

CLIENT_ID=

CLIENT_SECRET=

CLIENT_URI=http://localhost:5000/api/v1/oauth/google/callback

SECRET_1=random1
SECRET_2=random2

MAIL_HOST=
MAIL_PORT=
NO_REPLY_EMAIL=
NO_REPLY_PASS=
