<html>
  <head>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <title>Afrisplash Notification</title>
    <!-- <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
    /> -->
    <style>
      body { font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif; background-color: #ffffff; margin: 0; padding: 0; } .container
      { max-width: 600px; margin: 0 auto; padding: 20px; } .header { text-align:
      left; } .header img { height: 50px; vertical-align: middle; } .header h1 {
      display: inline-block; font-size: 24px; font-weight: bold; color: #fc5059;
      margin: 0; margin-left: 10px; vertical-align: middle; } .subject {
      margin-top: 20px; font-size: 18px; font-weight: bold; color: #000000; }
      .body { margin-top: 20px; font-size: 16px; color: #000000; } .footer {
      margin-top: 40px; background-color: #fc5059; padding: 20px; text-align:
      center; color: #ffffff; } .social { margin-bottom: 10px; } .social a {
      display: inline-block; margin-right: 10px; color: #ffffff;
      text-decoration: none; } .unsubscribe { margin-top: 20px; font-size: 14px;
      color: #ffffff; } .logo { height: 30px; vertical-align: middle; }
      .copyright { margin-top: 20px; font-size: 12px; color: #ffffff; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <img src='your_app_logo.png' alt='Aradugbo Logo' />
        <h1>Afrisplash</h1>
      </div>

      <div class='subject'>Welcome to Afrisplash Admin Dashboard</div>

      <div class='body'>
        <p>
          {{body}}
        </p>
        <p>
          Sed ullamcorper nisl nec rutrum efficitur. Nullam non velit lacinia,
          fermentum libero in, suscipit elit. Aliquam gravida aliquam mauris, at
          dapibus erat dapibus in.
        </p>
        <p>
          Donec tristique nunc quis enim pulvinar malesuada. Sed a magna sit
          amet felis consectetur elementum vel a est.
        </p>
      </div>

      <div class='footer'>
        <div class='social'>
          <a href='https://instragram.com/aradugbo' target='_blank'>
            <i class='lab la-instagram'></i>
          </a>
          <a href='https://twitter.com/your_app_twitter' target='_blank'><i
              class='lab la-twitter'
            ></i></a>
          <a href='https://facebook.com/your_app_facebook' target='_blank'><i
              class='lab la-facebook-square'
            ></i></a>
          <!-- <a href="https://linkedin.com/your_app_linkedin" target="_blank"
            >LinkedIn</a
          > -->
        </div>

        <img src='your_app_logo.png' alt='Aradugbo Logo' class='logo' />
        <h1>Aradugbo</h1>

        <div class='unsubscribe'>
          If you wish to unsubscribe, please
          <a href='#'>click here</a>.
        </div>

        <div class='copyright'>&copy; 2023 Afrisplash. All rights reserved.</div>
      </div>
    </div>
  </body>
</html>