@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  background: #f8f8f8;
}

a {
  text-decoration: none;
  color: #1f211d;
}

p {
  margin: 0rem;
}

h1 {
  margin: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
}

.container {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #1f211d;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email_template {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 2.5rem 2.5rem;
  gap: 2.5rem;
  position: relative;
  max-width: 43.438rem;
  margin: 8% 0;
  background: #ffffff;
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

.upper_design {
  padding-bottom: 1.25rem;
}

.top_design {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #ffffff;
  border-radius: 1rem 1rem 0rem 0rem;
}

.email_template h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  margin: 0rem;
}

.template_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
}

.text_container p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: left;
  padding: 0rem 0rem 1rem 0rem;
}

.cta_btn {
  font-size: 1rem;
  font-weight: 400;
  color: #f8f8f8;
  padding: 1rem;
  line-height: 1.5rem;
  background: #0d5520;
  border-radius: 0.5rem;
  border: none;
}

.footer {
  width: 100%;
}

.footer_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0rem;
  gap: 1.5rem;
  border-top: 0.063rem solid #b6bbb2;
}

.footer_details p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.footer_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer_links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
  line-height: 2.25rem;
}

.footer_links ul li a {
  color: rgba(31, 33, 29, 0.5);
}

.ellipse {
  width: 0.5rem;
  height: 0.5rem;
}

/* 
 Reset the password
*/
.cta_btn.reset_password {
  text-decoration: underline;
}

.text_container.reset_password p {
  text-align: center;
}

/* 
 Verify Email
*/
.email_template.verify_email h1 span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_container.verify_email .greetings span {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 36px;
}

.template_container .cta_container {
  padding-bottom: 6.375rem;
}

.cta_btn.verify_email {
  text-decoration: underline;
}

/* 
 New Notifications
*/
.cta_container.new_notifications {
  padding-bottom: 3.5rem;
}

/* 
 Job Posting
*/
.logo_container.job_posting,
.email_template.job_posting h1 {
  display: flex;
  justify-content: start;
  width: 100%;
}

.greetings.align p {
  color: #0d5520;
}

.greetings.job_posting {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  font-size: 0.875rem;
}

.greetings.align ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  list-style-type: none;
}

.greetings.align ul li img {
  width: 0.25rem;
  height: 0.25rem;
  padding-bottom: 0.15rem;
}

/* 
 Job Post Submitted
*/
.header_highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.75rem 0.5rem;
  width: 100%;
  background-color: #d6ecdc;
}

.header_highlight h1 {
  font-size: 2.25rem;
}

.greetings.job_post_submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.greetings.job_post_submitted img {
  width: 2.5rem;
  height: auto;
}

.greetings.job_post_submitted p {
  text-align: center;
}

.text_container.job_post_submitted {
  width: 100%;
}

.bullet_list {
  display: flex;
  flex-direction: column;
  height: 6.25rem;
  border-left: 1px solid #b6bbb2;
  margin-left: 0.75rem;
  margin-bottom: 3rem;
}

.bullet_list .bullet_items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
}

.bullet_items {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
}

.bullet_list .bullet_items div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
}

.bullet_items div p {
  font-size: 1rem;
}

.bullet_list p {
  padding-bottom: 0rem;
}

.cta_btn_container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.cta_btn_container .cta_btn {
  width: 100%;
}

.bg_white {
  color: #1f211d;
  background-color: #ffffff;
  border: 1px solid #1f211d;
}

/* 
    Application Accepted
*/

.email_template.application_accepted {
  padding-left: 1.563rem;
  padding-right: 1.563rem;
}

.heading.application_accepted {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.template_container.application_accepted {
  background-color: #f8f8f8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.job_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.job_title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.job_title img {
  width: 3.091rem;
  height: auto;
}

.main_text {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.main_text p {
  font-size: 1.39rem;
  color: #0d5520;
}

.main_text span {
  font-size: 1.216rem;
  color: #1f211d;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: #cfddd2;
  border-radius: 1.5rem;
}

.text_container.application_accepted {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.text_container.application_accepted p {
  padding-bottom: 0rem;
  line-height: 2.25rem;
}

.cta_text_container {
  width: 100%;
  text-align: left;
  text-decoration: underline;
  margin-top: 1.5rem;
}

/* 
 Application Rejected
*/
.tag.rejected {
  color: #be0000;
  background-color: #d9dedc;
}

/* 
 Media Queries
*/
@media screen and (max-width: 992px) {
  .logo_container img {
    width: 100%;
  }
  .email_template {
    width: 70vw;
  }

  .job_title_container {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 540px) {
  .logo_container img {
    width: 90%;
  }

  .email_template {
    margin: 8% 1%;
    padding: 2.3rem 1rem 1rem 1rem;
  }
  .email_template h1,
  .header_highlight h1 {
    font-size: 2rem;
  }

  .header_highlight p {
    text-align: center;
  }

  .text_container p {
    line-height: 2rem;
  }

  .greetings.align ul {
    flex-wrap: wrap;
  }

  .job_title_container {
    justify-content: center;
  }

  .footer_links ul {
    gap: 1rem;
    flex-wrap: wrap;
  }
}
